#Ignore NN architecture 
/table/
/car/
/airplane/
/church/
vgg16*

#Ignore iPython checkpoints
.ipynb_checkpoints/

#Ignore Mac’s filesystem files
.DS_Store

#Ignore Latex’s production files
*.aux
*.log
*.out
*.synctex.gz